{% extends 'base.html' %}
{% block content %}

<h1>Park Details</h1>

<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-content">
                    <span class="card-title"> {{ park.name }} </span>
                <p>Description: {{ park.description }}</p>
                <p>Offleash: {{ park.offleash }}</p>
            </div>
            <div>
                <a href="">Edit</a>
                <a href="">update</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}